<div id="receiver_form">

<% if @receiver.errors.any? %>
  <div class="error_explanation">
    <h3><%= pluralize(@receiver.errors.count, " error") %> 
      prohibited this receiver from being saved:</h3> 
    <ul> 
      <%  @receiver.errors.full_messages.each do |msg|  %> 
      <li><%= msg  %></li> 
      <%  end %> 
    </ul> 
  </div>
<% end %>

<%= form_for @receiver, :html => { :multipart => true } do |f| %>
  <p>
  <label class="form_label">Name</label>
  <span class="form_label_note"> (Your real name)</span></br>
  <%= f.text_field :name, :class => "form_text_field" %></br>
  </p>
  <p>
  <label class="form_label">Email</label>
  <span class="form_label_note"> (Leave your email, we'll update you)</span></br>
  <%= f.email_field :email, :class => "form_text_field" %></br>
  </p>
  <p>
  <label class="form_label">Phone</label>
  <span class="form_label_note"> (cell phone or fixed-line)</span></br>
  <%= f.text_field :phone, :class => "form_text_field" %></br>
  </p>
  <p>
  <label class="form_label">Address</label>
  <span class="form_label_note"> (Include building and street)</span></br>
  <%= f.text_field :address, :class => "form_text_field" %></br>
  </p>
  <p>
  <label class="form_label">Message</label>
  <span class="form_label_note"> (Leave some words to introduce who you are)</span></br>
  <%= f.text_area :introduction, :class => "form_text_area" %></br>
  </p>

  <% if not @receiver.new_record? %>
  <p>Approved? <%= f.check_box :approved %></p>
  <% end %>

  <p><%= submit_tag "Submit" %></p>
<% end %>
</div>
