<h2>Show receiver</h2>

<div id="receiver_section">
  <p>Name: <%= @receiver.name %></p>
  <p>Introduction: <%= @receiver.introduction %></p>
  <p>Phone: <%= @receiver.phone %></p>
  <p>Address: <%= @receiver.address %></p>
  <p>Email: <%= @receiver.email %></p>
</div>

<%= link_to "Edit", edit_receiver_path(@receiver) %>
<%= link_to "Delete", receiver_path(@receiver), :method => :delete %>
<%= link_to "Back to list", receivers_path %>
