<h2>Show receiver</h2>

<div id="receiver_section">
  <p>Name: <%= @receiver.name %></p>
  <p>Introduction: <%= @receiver.introduction %></p>
  <p>Phone: <%= @receiver.phone %></p>
  <p>Address: <%= @receiver.address %></p>
  <p>Email: <%= @receiver.email %></p>
  <p><img alt="<%= @receiver.name %>" src="<%= image_path(@receiver.image_id) %>"/></p>
</div>

<%= link_to "Edit", edit_receiver_path(@receiver) %>
<%= link_to "Delete", receiver_path(@receiver), :method => :delete %>
