<div id="receiver_pane">
  <%= render :partial => "pane_left" %>
  <div class="pane_middle">
    <% if flash[:error] %>
      <div class="error_explanation">
        <h3><%= flash[:error] %></h3>
      </div>
    <% end %>

    <div id="receiver_section">
      <p>
        <label class="form_label">Name</label><br/>
        <%= @receiver.name %>
      </p>
      <p>
        <label class="form_label">Email</label><br/>
        <%= @receiver.email %>
      </p>
      <p>
        <label class="form_label">Phone</label><br/> 
        <%= @receiver.phone %>
      </p>
      <p>
        <label class="form_label">Address</label><br/>
        <%= @receiver.address %>
      </p>
      <p>
        <label class="form_label">Message</label><br/> 
        <%= @receiver.introduction %>
      </p>
    </div>

    <%= link_to "Edit", edit_receiver_path(@receiver) if authenticated %>
    <%= link_to "Delete", receiver_path(@receiver), :method => :delete, :confirm => "Are you sure?" if authenticated %>
    <%= link_to "Back to list", receivers_path %>
  </div>
  <%= render :partial => "pane_right", :locals => { :active_link => nil } %>
  <div class="clear" />
</div>
