<%= form_for @user do |f| %>
  <p>
    <label class="form_label">Email</label><br/>
    <%= f.email_field :email, :class => "form_text_field" %>
  </p>
  <p>
    <label class="form_label">Password</label><br/>
    <%= f.password_field :password %>
  </p>
  <p>
    <label class="form_label">Confirm password</label><br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <label class="form_label">Name</label><br/>
    <%= f.text_field :name %>
  </p>
  <%= f.hidden_field :role %>
  <br/>
  <%= submit_tag "Create", :class => "button" %>
<% end %>
