<div id="donation_basic_section">
  <h3>Basic information</h3>
  <p>
    <label class="form_label">Name</label><br/>
    <span><%= @donation.name %></span>
  </p>
  <p>
    <label class="form_label">Email</label><br/> 
    <span><%= @donation.email %></span>
  </p>
  <p>
    <label class="form_label">Phone</label><br/>
    <span><%= @donation.phone %></span>
  </p>
  <p>
    <label class="form_label">Address</label><br/>
    <span><%= @donation.address %></span>
  </p>
  <p>
    <label class="form_label">Note</label><br/>
    <span><%= @donation.note %></span>
  </p>
  <p>
    <label class="form_label">Pick Up?</label> <span><%= @donation.pick_up ? "YES" : "NO" %></span>
  </p>
  <p>
    <label class="form_label">News Letter?</label> <span><%= @donation.news_letter ? "YES" : "NO" %></span>
  </p>
</div>
