<div id="donation_basic_section">
  <p>
  Phone: <span><%= @donation.phone %></span>
  </p>
  <p>
  Address: <span><%= @donation.address %></span>
  </p>
  <p>
  Email: <span><%= @donation.email %></span>
  </p>
  <p>
  Name: <span><%= @donation.name %></span>
  </p>
  <p>
  Note: <span><%= @donation.note %></span>
  </p>
  <p>
  Pick Up? <span><%= @donation.pick_up ? "YES" : "NO" %></span>
  </p>
  <p>
  News Letter? <span><%= @donation.news_letter ? "YES" : "NO" %></span>
  </p>
</div>
