<h3>Confirm delivery</h3>

<%= form_for @delivery do |f|  %>
<table>
  <thead>
    <tr>
      <td class="column_c">Category</td>
      <td class="column_q">Quantity</td>
    </tr>
  </thead>
  <tbody>
    <% for i in @delivery.items %>
      <tr>
        <td><%= i.category %></td>
        <td><%= i.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= f.hidden_field :status, :value => Delivery::CONFIRMED%>
<br/>
<h3>Add comment if any</h3>
<%= text_area_tag :note, nil, :class => "form_text_area" %> 
<br/>
<br/>
<%= submit_tag "Confirm", :class => "button" %>
<br/>
<br/>
<% end %>
