<h3>Confirm delivery</h3>

<%= form_for @delivery do |f|  %>
<table>
  <thead>
    <tr>
      <td>Category</td>
      <td>Quantity</td>
      <td>Unit</td>
    </tr>
  </thead>
  <tbody>
    <% for i in @delivery.items %>
      <tr>
        <td><%= i.category %></td>
        <td><%= i.quantity %></td>
        <td><%= i.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= f.hidden_field :status, :value => Delivery::CONFIRMED%>
Note: <%= text_area_tag :note %> 
<%= submit_tag "Ship items" %>
<% end %>
