<h3>Donated items to <%= @delivery.receiver.name %><%= link_to image_tag("print.png"), delivery_print_pack_path(@delivery), :class => "image_link", :target => "_blank" %>
</h3>

<br/>
<%= form_for @delivery, :url => delivery_pack_path(@delivery), :method => :put do  %>
<table>
  <thead>
    <tr>
      <td class="column_c">Category</td>
      <td class="column_q">Quantity</td>
      <td class="column_d">Include?</td>
    </tr>
  </thead>
  <tbody>
    <% 0.upto(@delivery.items.length-1) do |i| %>
      <tr>
        <td><%= @delivery.items[i].category %></td>
        <td><%= @delivery.items[i].quantity %></td>
        <td><%= check_box_tag "items[#{i}][include]", true, true %></td>
        <%= hidden_field_tag "items[#{i}][id]", @delivery.items[i].id %>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<h3>Add comment if any</h3>
<%= text_area_tag :note, nil, :class => "form_text_area" %> 
<br/>
<br/>
<%= submit_tag "Pack items", :class => "button" %>
<% end %>

