<h3>Donated items to <%= @delivery.receiver.name %></h3>

<p>
<%= link_to "Print pack table", delivery_print_pack_path(@delivery) %>
</p>

<%= form_for @delivery, :url => delivery_pack_path(@delivery), :method => :put do  %>
<table>
  <thead>
    <tr>
      <td>Category</td>
      <td>Quantity</td>
      <td>Unit</td>
      <td>Include?</td>
    </tr>
  </thead>
  <tbody>
    <% 0.upto(@delivery.items.length-1) do |i| %>
      <tr>
        <td><%= @delivery.items[i].category %></td>
        <td><%= @delivery.items[i].quantity %></td>
        <td><%= @delivery.items[i].unit %></td>
        <td><%= check_box_tag "items[#{i}][include]", true, true %></td>
        <%= hidden_field_tag "items[#{i}][id]", @delivery.items[i].id %>
      </tr>
    <% end %>
  </tbody>
</table>
Note: <%= text_area_tag :note %> 
<%= submit_tag "Pack items" %>
<% end %>

