<h3>Summary of delivery</h3>

<table>
  <thead>
    <tr>
      <td>Category</td>
      <td>Quantity</td>
      <td>Unit</td>
    </tr>
  </thead>
  <tbody>
    <% for i in @delivery.items %>
      <tr>
        <td><%= i.category %></td>
        <td><%= i.quantity %></td>
        <td><%= i.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% for img in @delivery.images %>
  <p><%= img.description %></p>
  <img alt="<%= img.description %>" src="<%= delivery_delivery_image_path(@delivery, img) %>"/>
  [<%= link_to "X", delivery_delivery_image_path(@delivery, img), :method => :delete %>]
<% end %>

<% if flash[:error] %>
  <div class="error_explanation">
    <h3><%= flash[:error] %></h3>
  </div>
<% end %>

<%= form_for [@delivery, @delivery.images.build], :html => {:multipart => true} do |f| %>
  Description:<%= f.text_field :description %> Image:<%= f.file_field :image_data %>
  <p>
  <%= submit_tag "Add a image" %>
  </p>
<% end %>
