<h3>Summary of delivery to <%= @delivery.receiver.name %></h3>

<table>
  <thead>
    <tr>
      <td class="column_c">Category</td>
      <td class="column_q">Quantity</td>
    </tr>
  </thead>
  <tbody>
    <% for i in @delivery.items %>
      <tr>
        <td><%= i.category %></td>
        <td><%= i.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<h3>Images of delivery</h3>
<% for img in @delivery.images %>
  <img alt="image" src="<%= delivery_delivery_image_path(@delivery, img) %>"/>
  [<%= link_to "X", delivery_delivery_image_path(@delivery, img), :method => :delete, :confirm => "Are you sure?" %>]
<% end %>

<% if flash[:error] %>
  <div class="error_explanation">
    <h4><%= raw flash[:error] %></h4>
  </div>
<% end %>

<%= form_for [@delivery, @delivery.images.build], :html => {:multipart => true} do |f| %>
  <p>Add pictures for delivery confirmation (&lt;512KB)</p>
  <%= f.file_field :image_data, :class => "upload_file_select" %>
  <%= submit_tag "Add a image", :class => "button" %>
<% end %>
<br/>
