<h2>Pack slip</h2>

<h3>Time: </h3><span><%= Time.now.strftime("%m/%d/%Y %H:%M:%S") %></span>
<h3>To: </h3><span><%= @delivery.receiver.name%> (id = <%= @delivery.receiver_id %>)</span>
<h3>Items: </h3>
<table>
  <thead>
    <tr>
      <td class="column_c">Category</td>
      <td class="column_q">Quantity</td>
      <td class="column_d">Donor(id)</td>
      <td class="column_n">Comment</td>
    </tr>
  </thead>
  <tbody>
  <% for i in @delivery.items %>
    <tr>
      <td><%= i.category %></td>
      <td><%= i.quantity %></td>
      <td><%= i.donation.name%>(<%= i.donation_id %>)</td>
      <td></td>
    </tr>
  <% end %>
  <tbody>
</table>
