<%= render :partial => "shared/admin_pane_left", :locals => { :active_link => get_admin_step(@delivery.status)} %>

<div id="admin_pane_right">

  <% case @delivery.status %>
  <% when Delivery::PACKED %>
  <%= render :partial => "ship" %>
  <% when Delivery::SHIPPED %>
  <%= render :partial => "confirm" %>
  <% when Delivery::CONFIRMED %>
  <%= render :partial => "summary" %>
  <% else %>
  <%= render :partial => "pack" %>
  <% end %>

  <% if not @delivery_notes.empty? %>
    <h3>History of operations</h3>
    <% for n in @delivery_notes.reverse {|a,b| a.created_at <=> b.created_at} %>
      <%= raw n.note %>
      <hr/>
    <% end %>
  <% end %>
</div>
