<h2>Show delivery</h2>

<% case @delivery.status %>
<% when Delivery::PACKED %>
<%= render :partial => "ship" %>
<% when Delivery::SHIPPED %>
<%= render :partial => "confirm" %>
<% when Delivery::CONFIRMED %>
<%= render :partial => "summary" %>
<% else %>
<%= render :partial => "pack" %>
<% end %>

<h3>History of operations</h3>
<% for n in @delivery_notes %>
  <p><%= n.note %></p>
<% end %>
