<div id="news_form">
  <% if @news.errors.any? %>
    <div class="error_explanation">
      <h3><%= pluralize(@news.errors.count, " error") %> 
        prohibited this news from being saved:</h3> 
      <ul> 
        <%  @news.errors.full_messages.each do |msg|  %> 
        <li><%= msg  %></li> 
        <%  end %> 
      </ul> 
    </div>
  <% end %>

  <%= form_for @news, :html => {:multipart => true} do |f| %>
    <p>Title: <%= f.text_field :title %></p>
    <p><%= f.text_area :content %></p>
    <%= submit_tag submit_label %>
  <% end %>
</div>
