<h2>Show a piece of news</h2>

<div id="news_section">
  <p>Title: <%= @news.title %></p> 
  <p><%= @news.content %></p>
</div>

<div id="news_images_section">
  <h3>Images of this news</h3>
  <% for img in @news.images %>
    <img alt="image" src="<%= news_news_image_path(@news, img) %>" />
    <%= link_to "[X]", news_news_image_path(@news, img), :method => :delete, :confirm => "Are you sure?" if authenticated %>
  <% end %>
</div>

<% if authenticated %>
<div>
  <% if flash[:error] %>
    <div class="error_explanation">
      <h3><%= flash[:error] %></h3>
    </div>
  <% end %>
  <%= form_for([@news, @news.images.build], :html => { :multipart => true }) do |f| %>
    Image File: <%= f.file_field :image_data %>
    <%= submit_tag "Add an image" %>
  <% end %>
</div>
<% end %>


<%= link_to "Create news", new_news_path if authenticated %>
<%= link_to "Edit news", edit_news_path(@news) if authenticated %>
<%= link_to "Back to list", news_index_path %>
