<div>
  <% if @donation.errors.any?      %> 
    <div class="error_explanation"> 
    <h3><%= pluralize(@donation.errors.count, " error") %> 
      prohibited this donation from being saved:</h3> 
    <ul> 
      <%  @donation.errors.full_messages.each do |msg|  %> 
      <li><%= msg  %></li> 
      <%  end %> 
    </ul> 
    </div> 
  <%  end %> 

  <%= form_for @donation, :html => {:multipart => true} do |f| %>
    Phone: <%= f.text_field :phone %> <br/>
    Address: <%= f.text_area :address %> <br/>
    Email: <%= f.email_field :email %> <br/>
    Name: <%= f.text_field :name %> <br/>
    Note: <%= f.text_area :note %> <br/>
    Pick Up?: <%= f.check_box :pick_up%> <br/>
    News Letter?: <%= f.check_box :news_letter%> <br/>
  
    <div id="donation_items">
      <%= f.fields_for :items  do |i| %>
      <div class="donation_item">
        Category<%= i.text_field :category %>
        Quantity<%= i.number_field :quantity %>
        Unit<%= i.text_field :unit %>
        <%= raw remove_link_unless_new_record(i, 'donation_item') %>
      </div>
      <% end %>
    </div>
    <%= add_item_link "Add an item", f %> 
  
    <br/>
    <div id="donation_images">
      <%= f.fields_for :images do |i| %>
      <div class="donation_image">
        Description: <%= i.text_field :description %>
        Image File: <%= i.file_field :image_data %>  
        <%= raw remove_link_unless_new_record(i, 'donation_image') %>
      </div>
      <% end %>
    </div>
    <%= add_image_link "Add an image", f %>
    <br/>
    <%= submit_tag %>
  <% end %>
</div>
