<div>
  <% if @donation.errors.any?      %> 
    <div class="error_explanation"> 
    <h3><%= pluralize(@donation.errors.count, " error") %> 
      prohibited this donation from being saved:</h3> 
    <ul> 
      <%  @donation.errors.full_messages.each do |msg|  %> 
      <li><%= msg  %></li> 
      <%  end %> 
    </ul> 
    </div> 
  <%  end %> 

  <%= form_for @donation, :html => {:multipart => true} do |f| %>
    <h3>Stuff you want to donate
      <%= add_item_link image_tag("new.png"), f %>
    </h3>
    <div id="donation_items">
      <%= f.fields_for :items  do |i| %>
      <div class="donation_item">
        <label class="form_label">Category </label><%= i.text_field :category, :class => "form_text_field_small" %>
        <label class="form_label">Quantity </label><%= i.number_field :quantity, :class => "form_text_field_tiny" %>
        <label class="form_label">Unit </label><%= i.text_field :unit, :class => "form_text_field_tiny" %>
        <%= raw remove_link_unless_new_record(i, 'donation_item') %>
      </div>
      <% end %>
    </div>
    <br/>

    <h3>
      Add images if you have
      <%= add_image_link image_tag("new.png"), f %>
    </h3>
    <div id="donation_images">
      <%= f.fields_for :images do |i| %>
      <div class="donation_image">
        <label class="form_label">Image File</label> <%= i.file_field :image_data %>  
        <%= raw remove_link_unless_new_record(i, 'donation_image') %>
      </div>
      <% end %>
    </div>
    <br/>

    <h3>Basic information</h3>
    <p>
    <label class="form_label">Name</label><br/> 
    <%= f.text_field :name, :class => "form_text_field" %> <br/>
    </p>
    <p>
    <label class="form_label">Email</label> <br/>
    <%= f.email_field :email, :class => "form_text_field" %> <br/>
    </p>
    <p>
    <label class="form_label">Phone</label><br/>
    <%= f.text_field :phone, :class => "form_text_field" %> <br/>
    </p>
    <p>
    <label class="form_label">Address</label><br/> 
    <%= f.text_field :address, :class => "form_text_field" %> <br/>
    </p>
    <p>
    <label class="form_label">Note(optional)</label><br/> 
    <%= f.text_area :note, :class => "form_text_area" %> <br/>
    </p>
    <p>
    <%= f.check_box :pick_up%>
    <label class="form_label">Check this if you want us to pick up</label><br/> 
    </p>
    <p>
    <%= f.check_box :news_letter%>
    <label class="form_label">Check this if you want to hear from us via email</label><br/> 
    </p>
  
    <br/>
    
    <br/>
    <%= submit_tag %>
  <% end %>
</div>
