<div>
  <h2>Donation information</h2>
  <%= render :partial => "shared/donation" %>

  <h3>Add new comment:</h3>
  <%= form_for [@donation, @donation.comments.build] do |f| %>
    <p>
    Comment: <%= f.text_area :comment %>
    </p>
    <%= submit_tag "Add a comment" %>
  <% end %>

  <%= link_to "New Donation", new_donation_path %>
  <%= link_to "Edit Donation", edit_donation_path(@donation) %>
  <%= link_to "Back to list", donations_path %>
</div>
