<div>
  <h2>Donation information</h2>
  <div id="donation_section">
  <%= render :partial => "shared/donation" %>
  <%= render :partial => "shared/donation_items" %>
  <%= render :partial => "shared/donation_images" %>
  <%= render :partial => "shared/donation_comments" %>
  </div>

  <h3>Add new comment:</h3>
  <% if flash[:error] %>
  <div class="error_explanation">
    <h3><%= flash[:error] %></h3>
  </div>
  <% end %>
  <%= form_for [@donation, @donation.comments.build] do |f| %>
    <p>
    Comment: <%= f.text_area :comment %>
    </p>
    <%= submit_tag "Add a comment" %>
  <% end %>

  <%= link_to "Edit donation", edit_donation_path(@donation) if authenticated %>
  <%= link_to "Back to list", donations_path if authenticated %>
</div>
