<h2>Show a donation for sort</h2>

<%= render :partial => "shared/donation" %>

<%= form_for @donation, :url => sort_donation_path(@donation),:method => :put do %>
  <table>
    <thead>
      <tr>
        <td>Category</td>
        <td>Quantity</td>
        <td>Unit</td>
        <td>Destination</td>
      </tr>
    </thead>
    <tbody>
    <% 0.upto(@donation.items.length-1) do |i| %>
      <tr>
        <%= hidden_field_tag "items[#{i}][id]", @donation.items[i].id %>
        <td><%= @donation.items[i].category %></td>
        <td><%= @donation.items[i].quantity %></td>
        <td><%= @donation.items[i].unit %></td>
        <td><%= select_tag "items[#{i}][dest]", options_from_collection_for_select(@receivers, 'id', 'name')  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= text_area_tag :note %>
  <%= submit_tag %>
<% end %>

<%= render :partial => "shared/donation_images" %>
<%= render :partial => "shared/donation_comments" %>
