<!DOCTYPE html>
<html>
<head>
  <title>Goodswill</title>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="page">
  <div id="head">
  <%= image_tag "logo.png", :alt => 'logo' %>
  <span id="link_login"><%= generate_login_link %></span>
  <div class="donation_button">
    <%= link_to "", new_donation_path%>
  </div>
  </div>

  <div id="main">
    <%= render :partial => "layouts/#{controller.controller_name}"%>
  </div>
  <div id="foot">
    <span>Copyright © 2011 Goodswill. All Rights Reserved.</span>
  </div>
</div>

</body>
</html>
